**If statements**

In [1]:
num = 50
if num > 20:
  print("A")
elif num > 10:
  print("B")
else:
  print("C")

A

**Nested if stemenets**

In [2]:
num = 50

if num > 20:
  if num%2 ==0:
    print("Greater than 20, even")
  else:
    print("Greater than 20, odd")
else:
  print("less than 20")

Greater than 20, even

**Loops**

In [3]:
nums = [1, 2, 3, 4, 5, 6]
sum = 0
expected_sum = 6*7/2

for val in nums:
  sum += val

print(sum, expected_sum)

21 21.0

**range function**

In [6]:
print(range(1,10))
print(list(range(1, 10)))
print(list(range(1,10, 2)))

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [7]:
music = ['pop', 'rock', 'jazz','classic']

for genre in music:
  print(genre)

pop
rock
jazz
classic

**for loop with else**

In [11]:
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
    else:
      continue
else:
    print('No entry with that name found.') #This else statement is triggered if the for loop end without a break statement triggering the termination

No entry with that name found.

**While loop**

In [13]:
i = 1
n = 20

while i <= n:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [14]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else