In [1]:
a=100  
Str1 ="We are learning Python"  
c = 20.5  
print(type(a))  
print(type(Str1))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [2]:
a = 5  
print("The type of a", type(a))  
  
b = 50.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

Lists

In [3]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))  
  
#Printing the list1  
print (list1)  
  
# List slicing  for last two element
print (list1[2:])  
  
# List slicing  for first three elements
print (list1[0:3])   
  
# List Concatenation
print (list1 + list1)  
  
# List repetation using * operator  
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
['Python', 2]
[1, 'hi', 'Python']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

**Tuple**

In [1]:
tup = (1, 2)
print(type(tup))
print(tup)

print(tup[1:])

print(tup + tup)
print(tup*3)

tup[1] = 6 #throws an error as reassignment of tuple elements is not allowed

<class 'tuple'>
(1, 2)
(2,)
(1, 2, 1, 2)
(1, 2, 1, 2, 1, 2)

TypeError: ignored

**Dictionary**

In [2]:
dict = {"dog":4, "cat":4, "human":2, "bird": 2, "fish": 0}
print(dict.keys())
print(dict.values())
for key in dict.keys():
  print(f"{key} has {dict[key]} legs")

dict_keys(['dog', 'cat', 'human', 'bird', 'fish'])
dict_values([4, 4, 2, 2, 0])
dog has 4 legs
cat has 4 legs
human has 2 legs
bird has 2 legs
fish has 0 legs

**Boolean**

In [3]:
print(type(True))  
print(type(False))  
print(True)

<class 'bool'>
<class 'bool'>
True

**Sets**

In [4]:
#Sets are unordered and cannot have duplicate elements

set_1 = {"String", 36.6, 2, True}
print(type(set))
print(set_1)
set_2 = set()

set_2.add(10)
set_2.add(True)
set_2.add(10)
print(set_2)

<class 'type'>
{True, 'String', 2, 36.6}
{True, 10}