In [3]:
#Multiline statements
dict_example = {"dog":"bark",
                  "cat":"meow",
                  "lion":"roar"}

print(dict_example)

car_Colours = ['red',
                'blue',
                'green']

{'dog': 'bark', 'cat': 'meow', 'lion': 'roar'}

**Python Indentation**

In [4]:
for k in range(1,10):
  print(k)
  if (k == 5+1):
    print("k is 6")

if True:
  print("Hello")
  a = 5

if True: print("Hello"); a = 5

1
2
3
4
5
6
k is 6
7
8
9
Hello
Hello

**Comments**

In [8]:
# This is a single line comment
'''
This is a multiline comment.
This is a multiline comment.
'''
"""
Double Quotes can also
be used for multiline comments
"""

'\nDouble Quotes can also\nbe used for multiline comments\n'

**Doc string comments**

In [9]:
def sum(num):
  """Function to the values"""
  return 2 + num

print(sum.__doc__)

Function to the values