**Arithmetic operators**

In [1]:
m = 5
n = 3
print(m+n, m-n, m*n, m/n, m//n, m%n)

8 2 15 1.6666666666666667 1 2

**Comparision operator**

In [2]:
a = 10
b = 12
print(a > b)
print(a == b)
print(a < b)
print(a <= b)

False
False
True
True

**Bitwise Operators**

In [4]:
x = 10 #(0000 1010)
y = 4 #(0000 0100)

print(x & y) #(0000 0000) AND ----> 0
print(x ^ y)  #(0000 1110) XOR ----> 14
print(x << 2) #(0010 1000) LEFT SHIFT ----> 40
print(x >> 2) #(0000 0010) RIGHT SHIFT ----> 2

0
14
40
2

**Assignment operator**

In [10]:
a = 2
a += 6
a %= 3
a **= 4
a //= 5
print(a)

3

**Identity operators**

In [13]:
x1 = {3, 5, 11}
x2 = {11, 3, 5}
x3 = {1, 6, 4}
x4 = [1, 2, 3, 4]
x5 = [1,2,3,4]
x6 = 10
x7 = 10
print(x1 is not x2)
print(x1 is x3)
print(x4 is x5)
print(x6 is x7)

True
False
False
True

**Membership operators**

In [14]:
x = {1, 5, 7, 9}
print(8 in x)
print(8 not in x)
print(7 in x)

False
True
True