In [1]:
print("India")
print(type("India"))

India
<class 'str'>

In [3]:
a = 100
b = a = 50
print(a)
print(b)

50
50

Once objects like lists, dicts are created within a variable, more variables cannot generate the same object when the former variable is assigned to them. Instead, they act as pointers and any changes in the new variable is reflected in the original list

In [4]:
list_one = [1,2,3]
list_two = list_one
print(list_one) #1, 2, 3
print(list_two) #1, 2, 3
list_two.append(4)
print(list_one) #1, 2, 3, 4
print(list_two) #1, 2, 3, 4

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

**Object identifiers**

In [7]:
a = 100
b = a
print(id(a))
print(id(b))

b = b + 20 #changing b

print(id(a))
print(id(b)) #id of b changed

print(a)
print(b)

a = 200 #Reassigning a

print(id(a)) #id of a changed
print(a)

93918690129504
93918690129504
93918690129504
93918690130144
100
120
93918690132704
200

In [8]:
name = "OOPCourse"  
Myage=Herage= 45  
a=b=c=90  
a=b=c=4,5,6               
a,b,c=4,5,6         

print(name)  
print(Myage,Herage)  
print(a,b,c) 

name = "Test1"  
Name = "Test2"  
naMe = "Test3"  
NAME = "Test4"  
n_a_m_e = "Test5"  
_name = "Test6"  
name_ = "Test7"  
_name_ = "Test8"  
na80me = "Test9"  
print(name,Name,naMe,NAME)

OOPCourse
45 45
4 5 6
Test1 Test2 Test3 Test4

**Local and Global variables**

In [13]:
a = 100 #global variable

def func():
  m = 1
  print(a)
  print(m)

func()
print(a)
print(m) #printing local variable here gives an error

100
1
100

NameError: ignored

In [15]:
a = 100

def func():
  global a
  print(a)
  a = "Some string" #modifying global variable
  print(a)

func()
print(a)

del a
print(a) #Throws an error

100
Some string
Some string

NameError: ignored

Python has no declaration for long ints, long long ints, etc. It treats all integers as an int data **type**

In [16]:
c = 50000000000000000000000000000000000000000000  
c = c + 1  
print(type(c))  
print (c)

<class 'int'>
50000000000000000000000000000000000000000001